.f13-twitter-follow {
    width: 150px;
    margin: auto;
}

.f13-twitter-follow .twitter-follow-button {
    padding: 0;
    width: 100px;
}

iframe .r-y54riw {          
    min-width: 0px !important;
}

.twitter-tweet iframe {
    max-width: 100% !important;
}
